/*#reader {
    margin-left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}*/

#flex_box {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
