@{
    Layout = "~/Views/_MainLayout.cshtml";
}


<ul class="list-group d-none">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        %email%
        <button type="button" class="btn %buttonclass%">%button%</button>
    </li>
</ul>