@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<div id="hello-app">
    <div v-scope="HelloApp()">
        <p>{{ helloMuhammad }}</p>
        <p>{{ helloWorld }}</p>
        <button @@click="sayHelloWorld">Hello</button>
    </div>
</div>
