@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<h3>Auftrag</h3>

<br />

<p>
    Erstellen Sie eine Web-Applikation zum Reservieren von Motorrädern zum Testfahren.
</p>

<p>
    <strong>User Story</strong>
    <br />
    Als Motorrad-KMU wollen wir unsere Motorräder regelmässig zum testfahren vermieten. Dafür wollen wir eine einfache Web-Applikation, wo wir intern bei uns in der Werkstatt die Motorräder reservieren können, indem wir auf dem Werkstatt-Computer im Browser die Buchungen verwalten können.
</p>

<h2></h2>


<p>
    <strong>Acceptance Criteria:</strong>
    <br />
    Die verfügbaren Motorräder können aufgelistet werden mit folgenden Attributen:
</p>

<ul>
    <li>Marke</li>
    <li>Model</li>
    <li>Jahrgang</li>
    <li>Kategorie</li>
</ul>

<p>
    Reservation mit folgenden Angaben
</p>

<ul>
    <li>Name</li>
    <li>Start- und Enddatum</li>
    <li>Motorrad</li>
</ul>

<p>
    Frontend und Backend kommunizieren über ein REST API
</p>
