@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<h3 class="text-center">Millennium events</h3>

<br />

<p>
    Alles begann im Februar 2018 mit 3 Brüdern, welche ihren 18. Geburtstag feierten und dazu eine grosse Party in der Aarehütte organisiert haben. Die Party war ein voller Erfolg und es wurden weitere Events geplant. Das Team wurde erweitert und die Organisation professioneller. Die Events fanden in verschiedenen Lokalen statt, mit bis zu 700 Personen pro Abend. Danach kam Corona und wir mussten die grossen Events pausieren. Im 2023 sind wir nun wieder zurück, um mit dir und deinen Freunden unvergessliche Partynächte zu feiern. Komm vorbei und erlebe selber die besondere Atmosphäre von Millennium Events.
</p>

<p>
    Die Events werden von <strong>Levi</strong>, <strong>Miro</strong> und <strong>Kai Zurbuchen</strong> organisiert. Auf dieser Seite können Promoter, Event Tickets generieren und via Mail versenden. Der Service ist temporär und wird zukünftig von einem Ticket-Shop abgelöst.
</p>