@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<div id="flex_box" class="text-center">
    <form id="form-signin">
        <h1 class="h3 mb-3 fw-normal">Mitarbeiter Login</h1>
        
        <div class="alert alert-warning d-none" role="alert">Username or password is invalid!</div>

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput">
            <label for="floatingInput">Benutzername</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword">
            <label for="floatingPassword">Passwort</label>
        </div>

        <button id="login_btn" class="w-100 btn btn-lg btn-primary" type="submit">Anmelden</button>
    </form>
</div>
