@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<div id="flex_box" class="text-center">
    <form id="form-signin">
        <img class="mb-4" src="@Href("~/Images/Millennium.svg")" alt="" width="100%" height="200px">
        <h1 class="h3 mb-3 fw-normal">Melde dich an</h1>

        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput">
            <label for="floatingInput">Email Adresse</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword">
            <label for="floatingPassword">Passwort</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me" name="remember_me"> Login merken
            </label>
        </div>
        <button id="login_btn" class="w-100 btn btn-lg btn-primary" type="submit">Anmelden</button>
        <p class="mt-5 mb-3 text-muted">© @DateTime.Now.Year Dee:wai</p>
    </form>
</div>
