@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<div id="flex_box" class="text-center d-none">
    <form id="form-send-user" class="mb-3">
        <h1 class="h3 mb-3 fw-normal">Mieter erstellen</h1>

        <div class="alert alert-warning d-none" role="alert"></div>

        <div class="alert alert-success alert-dismissible fade show d-none text-nowrap" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput">
            <label for="floatingInput">Benutzername</label>
        </div>

        <button id="create_btn" class="w-100 btn btn-lg btn-primary" type="submit">erstellen</button>
    </form>
</div>

<table class="table py-2 d-none table-bordered" id="users-table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">User Role</th>
        </tr>
    </thead>
    <tbody>
        <tr class="d-none table-row">
            <td class="row-count"></td>
            <td class="username"></td>
            <td class="user-role"></td>
        </tr>
    </tbody>
</table>


