@{
    Layout = "~/Views/_MainLayout.cshtml";
}

<div id="flex_box" class="text-center d-none">
    <h1 class="h3 mb-3 fw-normal">Ticket Scanner</h1>

    <div class="alert alert-warning d-none" role="alert"></div>

    <div class="alert alert-success alert-dismissible fade show d-none text-nowrap" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div style="width: 300px" id="reader"></div>
</div>